// BG
$main-bg: #e86060;
$soft-bg: #cdcfd3;
$dark-bg: #9cafd1;
// $main-bg: #34495E    ;
// $soft-bg: #2ECC71    ;
// $dark-bg: #F1C40F    ;
//TEXT
$main-color: white;
$soft-color: #f05858;
$dark-color: #3e71cf;
