.footer{
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px;
  
    span{
  

  
        font-size: 15px;
        margin-right: 33px;
        margin-bottom: 18px;
      
    }
  } 